.content {
	margin: auto;
	width: 90%;
	/* border: 5px solid #FFFF00; */
	padding: 50px 10px 10px;
}

 @font-face { 
	 font-family: Consola;
	 src: url(../fonts/consola.ttf) format("truetype");
 } 

#avatar {
	display: block;
	margin-left: auto;
	margin-right: auto;
	
	border-radius: 50%;
}

.center-consola-text{
	text-align: center;
	font-family: Consola;
}

.links {
	margin-bottom: 20px;
}

.links a {
	text-decoration: none;
	color: black;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltip-text {
  visibility: hidden;
  background-color: black;
  color: white;
  text-align: center;
  border-radius: 0px;
  padding: 5px;
  
  /* tooltip position */
  position: absolute;
  z-index: 1;
  top: 110%;
  left: 50%;
  margin-left: -50%;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
}

.tooltip .tooltip-text::after {
  content: "";
  position: absolute;
  bottom: 92.5%;
  left: 0%;
  margin-left: 10px;
  border-width: 7px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

#footer-hr {
	border: none;
    color: LightGray;
    background-color: LightGray;
    height: 1px;
	
	width: 50%;
	max-width: 500px;
	min-width: 450px;
}

#footer-text {
	color: LightGray;
}