.content {
	margin: auto;
	width: 90%;
	/* border: 5px solid #FFFF00; */
	padding: 50px 10px 10px;
}

 @font-face { 
	 font-family: Consola;
	 src: url(../fonts/consola.ttf) format("truetype");
 } 

#avatar {
	display: block;
	margin-left: auto;
	margin-right: auto;
	
	border-radius: 50%;
}

.center-consola-text{
	text-align: center;
	font-family: Consola;
}

.links {
	margin-bottom: 20px;
}

.links a {
	text-decoration: none;
}

#footer-hr {
	border: none;
    color: LightGray;
    background-color: LightGray;
    height: 1px;
	
	width: 50%;
	max-width: 500px;
	min-width: 450px;
}