.content {
	margin: auto;
	width: 50%;
	/* border: 5px solid #FFFF00; */
	padding: 50px 10px 10px;
}

 @font-face { 
	 font-family: Consola;
	 src: url(../fonts/consola.ttf) format("truetype");
 } 

#avatar {
	
	display: block;
	margin-left: auto;
	margin-right: auto;
	
	border-radius: 50%;
}

.center-consola-text{
	text-align: center;
	font-family: Consola;
}

#footer-hr {
	width: 50%;
}